.mixin.out/
craftpresence/
crash-reports/
downloads/
logs/
saves/
local/ftbchunks/data/
dumps/
data/
assets/
screenshots/
XaeroWaypoints/
XaeroWorldMap/
XaeroWaypoints_BACKUP062020/
.curseclient
knownkeys.txt
/options.txt
manifest.json
minecraftinstance.json
realms_persistence.json
modlist.html
usercache.json
usernamecache.json
reauth.toml
/servers.dat
/background.png
/config.json
natives/
/patchouli_data.json
cte2_assets/